* {
    box-sizing: border-box;
}

.headerBox {
    background-color: gray;
}

.navbar {
    background-color:deepskyblue;
    color: white;
}

.carousel-item {
    max-height:32rem;
    background: deepskyblue;
    color: white;
}

.full-stack{
    background-color:gray;
}

footer{
    background-color:red;
}

